{% extends 'base.html' %}
{% load staticfiles %}
{% block corpo %}
  <div id="home_container" style="padding: 10px;width: 100%;overflow-y: auto">
    <form class="form-inline" method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="graph_title">Título dos Gráficos:</label>
        <input class="form-control" name="graph_title" id="graph_title" type="text" value="{{ graph_title }}"
               size="35"/>
      </div>
      <div class="form-group">
        <label for="file_upload">Arquivo:</label>
        <input name="file_upload" id="file_upload" type="file"/>
      </div>
      <div class="form-group">
        <label for="test">Executar Teste 500:</label>
        <input name="test" id="test" type="checkbox"/>
      </div>
      <button class="btn btn-primary pull-right">Enviar!</button>
    </form>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_data" class="collapsed">
              Classes com Membros
            </a>
          </h4>
        </div>
        <div id="collapse_data" class="panel-collapse collapse">
          <div class="panel-body" id="class_with_members" style="overflow-y: auto">
            {% if result %}
              {% for data in result %}
                {{ data }} <br>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_summary">
              Tabela Resumo - Moda: {{ mode }} - Mediana: {{ median }}
            </a>
          </h4>
        </div>
        <div id="collapse_summary" class="panel-collapse collapse in">
          <div class="panel-body" id="summary_table" style="overflow-y: auto">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Classe</th>
                <th>fi</th>
                <th>Fi</th>
                <th>fri</th>
                <th>Fri</th>
                <th>Xi</th>
                <th>%</th>
                <th>Ang(º)</th>
                <th>Xifi</th>
                <th>|Xi-<span style="text-decoration: overline">X</span>|</th>
                <th>|Xi-<span style="text-decoration: overline">X</span>|fi</th>
                <th>Média</th>
                <th>Variância</th>
                <th>Desvio Padrão</th>
              </tr>
              </thead>
              <tbody>
              {% if result %}
                {% for data in result %}
                  <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.fi }}</td>
                    <td>{{ data.Fi }}</td>
                    <td>{{ data.fri }}</td>
                    <td>{{ data.Fri }}</td>
                    <td>{{ data.Xi }}</td>
                    <td>{{ data.perc }}</td>
                    <td>{{ data.ang }}</td>
                    <td>{{ data.Xifi }}</td>
                    <td>{{ data.Xi_minus_total_arithmetic_average }}</td>
                    <td>{{ data.Xi_minus_total_arithmetic_average_fi }}</td>
                    <td>{{ data.average }}</td>
                    <td>{{ data.variance }}</td>
                    <td>{{ data.default_deviation }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#collapse_chart">
              Gráficos
            </a>
          </h4>
        </div>
        <div id="collapse_chart" class="panel-collapse collapse">
          <div class="panel-body" id="charts" style="overflow-y: auto">
            <div class="row">
              <div class="col-sm-6">
                <canvas id="myChart" height="100"></canvas>
              </div>
            </div>
            <div class="hr-line-solid"></div>
            <div class="row">
              <div class="col-sm-6">
                <canvas id="myChart2" height="100"></canvas>
              </div>
            </div>
            <div class="hr-line-solid"></div>
            <div class="row">
              <div class="col-sm-6">
                <canvas id="myChart3" height="100"></canvas>
              </div>
            </div>
            <div class="hr-line-solid"></div>
            <div class="row">
              <div class="col-sm-6">
                <canvas id="myChart4" height="100"></canvas>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
      $(document).ready(function () {
          $('#class_with_members').height(window.innerHeight - 300);
          $('#summary_table').height(window.innerHeight - 300);
          $('#home_container').height(window.innerHeight - 150);
          //$('#charts').height(window.innerHeight - 300);
          $(window).on('resize', function () {
              $('#home_container').height(window.innerHeight - 150);
              $('#summary_table').height(window.innerHeight - 300);
              $('#class_with_members').height(window.innerHeight - 300);
              //  $('#charts').height(window.innerHeight - 300);
          });
      });

  </script>
  <script type="text/javascript">
      var ctx = $("#myChart");
      var ctx2 = $("#myChart2");
      var ctx3 = $("#myChart3");
      var ctx4 = $("#myChart4");

      var myChart = new Chart(ctx, {
          type: 'bar',
          maintainAspectRatio: true,
          responsive: false,
          data: {
              labels: [
                  {% for data in result %}
                      {% if forloop.counter0 > 0 %}, {% endif %}'{{ data.name }}'
                  {% endfor %}
              ],
              datasets: [{
                  label: 'Frquencia da classe',
                  data: [
                      {% for data in result %}
                          {% if forloop.counter0 > 0 %}, {% endif %}{{ data.fi }}
                      {% endfor %}
                  ],
                  backgroundColor: [
                      'rgba(0, 130, 255, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(154, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(130, 159, 255, 0.2)',
                      'rgba(0, 160, 0, 0.2)',
                      'rgba(160, 0, 160, 0.2)'

                  ],
                  borderColor: [
                      'rgba(0, 130, 255, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(154, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(130, 159, 255, 1)',
                      'rgba(0, 160, 0, 1)',
                      'rgba(160, 0, 160, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }],
                  xAxes: [{
                      categoryPercentage: 1.0,
                      barPercentage: 1.0
                  }]
              }
          }
      });
      var myPieChart = new Chart(ctx2, {
          type: 'pie',
          data: {
              labels: [
                  {% for data in result %}
                      {% if forloop.counter0 > 0 %}, {% endif %}'{{ data.name }}'
                  {% endfor %}
              ],
              datasets: [{
                  label: 'Frquencia da classe',
                  backgroundColor: [
                      'rgba(0, 130, 255, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(154, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(130, 159, 255, 0.2)',
                      'rgba(0, 160, 0, 0.2)',
                      'rgba(160, 0, 160, 0.2)'

                  ],
                  borderColor: [
                      'rgba(0, 130, 255, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(154, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(130, 159, 255, 1)',
                      'rgba(0, 160, 0, 1)',
                      'rgba(160, 0, 160, 1)'
                  ],
                  data: [
                      {% for data in result %}
                          {% if forloop.counter0 > 0 %}, {% endif %}{{ data.fi }}
                      {% endfor %}
                  ],
                  borderWidth: 1
              }]
          }
      });
      var myChart3 = new Chart(ctx3, {
          type: 'bar',
          maintainAspectRatio: true,
          responsive: false,
          data: {
              labels: [
                  {% for data in result %}
                      {% if forloop.counter0 > 0 %}, {% endif %}'{{ data.name }}'
                  {% endfor %}
              ],
              datasets: [{
                  type: 'bar',
                  label: 'Frquencia da classe',
                  data: [
                      {% for data in result %}
                          {% if forloop.counter0 > 0 %}, {% endif %}{{ data.fi }}
                      {% endfor %}
                  ],
                  backgroundColor: [
                      'rgba(0, 130, 255, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(154, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(130, 159, 255, 0.2)',
                      'rgba(0, 160, 0, 0.2)',
                      'rgba(160, 0, 160, 0.2)'

                  ],
                  borderColor: [
                      'rgba(0, 130, 255, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(154, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(130, 159, 255, 1)',
                      'rgba(0, 160, 0, 1)',
                      'rgba(160, 0, 160, 1)'
                  ],
                  borderWidth: 1
              }, {
                  type: 'line',
                  label: 'Frquencia da classe',
                  data: [
                      {% for data in result %}
                          {% if forloop.counter0 > 0 %}, {% endif %}{{ data.fi }}
                      {% endfor %}
                  ],
                  backgroundColor: 'rgba(255, 0, 0, 0.1)',
                  borderColor: 'rgba(0, 0, 0, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }],
                  xAxes: [{
                      categoryPercentage: 1.0,
                      barPercentage: 1.0
                  }]
              }
          }
      });

  </script>
{% endblock %}